#drawing {
    overflow: auto;
    resize: both;
}
svg { 
  border: 1px solid black; 
  font: 10px sans-serif;
}

.node rect {
  stroke: steelblue;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
